<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Chat Rooms</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script>

    document.addEventListener("DOMContentLoaded", function() {

      var ws = new WebSocket('ws://localhost:8080/ws');
      stompClient = Stomp.over(ws);

      stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);

        // unreadCount 업데이트 수신
        stompClient.subscribe('/sub/unreadCount', function (message) {
          var update = JSON.parse(message.body);
          updateUnreadCount(update.chatRoomId, update.unreadMessageCount);
        });

        stompClient.subscribe('/sub/chats/' + chatRoomId, function (message) {
          console.log('Received: ' + message.body);
          var messageDisplay = document.querySelector('#messageDisplay');
          messageDisplay.innerHTML += message.body + '<br>';
        });

        // 채팅방 별로 구독 (예제에서는 두 개의 채팅방 구독)
        stompClient.subscribe('/sub/chats/1', function (message) {
          var update = JSON.parse(message.body);
          updateUnreadCount(update.chatRoomId, update.unreadMessageCount);
        });

        stompClient.subscribe('/sub/chats/2', function (message) {
          var update = JSON.parse(message.body);
          updateUnreadCount(update.chatRoomId, update.unreadMessageCount);
        });
      });

      function updateUnreadCount(chatRoomId, unreadMessageCount) {
        var span = document.getElementById('unreadCount_' + chatRoomId);
        if (span) {
          span.innerText = 'Unread Messages: ' + unreadMessageCount;
        }
      }
    });
  </script>
</head>
<body>
<h1>Chat Rooms</h1>
<ul>
  <li th:each="chatRoom : ${chatRoomDTOs}">
    <a th:href="@{'/chatRoom/' + ${chatRoom.chatRoomId}}" th:text="'chatRoom' + ${chatRoom.chatRoomId}">Chat Room Name</a>
    <span id="unreadCount_[[${chatRoom.chatRoomId}]]" th:text="'Unread Messages: ' + ${chatRoom.unreadMessageCount}">Unread Messages: 0</span>
  </li>
</ul>
</body>
</html>