<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<h1>WebSocket 연결 테스트 페이지입니다.</h1>

<div th:id="dataContainer" th:accessToken="${accessToken}" th:senderId="${senderId}"></div>

<ul>
    <li th:each="chatRoom : ${chatRooms}">
        <a href="#" th:onclick="'enterChatRoom(' + ${chatRoom.chatRoomId} + '); return false;'"
           th:text="'채팅방 ' + ${chatRoom.chatRoomId} + ' 입장'">Chat Room Name</a>
        <span th:id="'chatRoom' + ${chatRoom.chatRoomId}"
              th:text="'Unread Messages: ' + ${chatRoom.unreadMessageCount}">Unread Messages: 0</span>
    </li>
</ul>

<form id="uploadForm" enctype="multipart/form-data">
    <input type="file" name="file" id="fileInput">
    <button type="button" onclick="uploadFile()">파일 업로드</button>
</form>

<input type="text" id="message" placeholder="메시지를 입력하세요">
<input type="file" id="imageInput" style="display: none;">
<button id="attachImage">이미지 첨부</button>
<button id="send">전송</button>
<div id="messageDisplay"></div>
<div id="imageDisplay"></div>
<script th:inline="javascript">
    var stompClient = null;
    var chatRoomId = null;
    var currentSubscription = null;

    // 데이터 컨테이너에서 값을 가져옴
    var dataContainer = document.getElementById('dataContainer');
    var accessToken = dataContainer.getAttribute('accessToken');
    var senderId = dataContainer.getAttribute('senderId');

    console.log('accessToken: ' + accessToken)
    console.log('senderId: ' + senderId)

    // 페이지가 로드 되면 바로 실행되는 이벤트 리스너.
    document.addEventListener("DOMContentLoaded", function () {
        console.log('테스트 로딩')
        connectWebSocket();
    });

    function connectWebSocket(callback) {
        var ws = new WebSocket('ws://localhost:8080/ws');
        // var ws = new WebSocket('ws://menteetor.site:8080/ws');
        stompClient = Stomp.over(ws);

        stompClient.connect({}, function () {
            [[${chatRooms}]].forEach(function (chatRoom) {
                var chatRoomId = chatRoom.chatRoomId;
                stompClient.subscribe('/sub/unreadCount/' + chatRoomId, function (chatRoomDTO) {
                    var chatRoom = JSON.parse(chatRoomDTO.body);
                    var count = chatRoom['unreadMessageCount'];
                    var span = document.getElementById('chatRoom' + chatRoomId);
                    if (span) {
                        span.innerText = 'Unread Messages: ' + count;
                    }
                });
            });
            if (callback) {
                callback();
            }
        });
    }

    function enterChatRoom(id) {
        if (currentSubscription) {
            currentSubscription.unsubscribe();
        }

        chatRoomId = id;

        var connectHeader = {
            'senderId': senderId,
            'chatRoomId': chatRoomId.toString()
        };

        // 특정 주제(채팅방)에 구독 설정 (SUBSCRIBE)
        currentSubscription = stompClient.subscribe('/sub/chats/' + chatRoomId, function (messageOutput) {
            var messageDisplay = document.querySelector('#messageDisplay');
            messageDisplay.innerHTML += messageOutput.body + '<br>';
        }, connectHeader);

        // 입장 시 unreadMessageCount를 0으로 설정
        var span = document.getElementById('chatRoom' + chatRoomId);
        if (span) {
            span.innerText = 'Unread Messages: ' + 0;
        }
    }

    // 메시지 전송 함수
    function sendMessage() {
        var messageInput = document.querySelector('#message');
        var message = messageInput.value.trim();

        if (message !== '') {
            var senderName = "이종현";
            var time = new Date().toISOString();

            stompClient.send("/pub/hello", {
                'senderId': senderId,
                'chatRoomId': chatRoomId.toString()
            }, JSON.stringify({
                content: message,
                senderName: senderName,
                senderId: senderId,
                chatRoomId: chatRoomId,
                localDateTime: time
            }));

            messageInput.value = '';
        }
    }

    // 파일 업로드 함수
    function uploadFile() {
        const fileInput = document.getElementById('fileInput');
        const file = fileInput.files[0];
        const formData = new FormData();
        formData.append('file', file);
        formData.append('chatRoomId', chatRoomId);

        fetch('/api/chat/sendFile', {
            method: 'POST',
            headers: {
                'Authorization': 'Bearer ' + accessToken
            },
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                document.getElementById('messageDisplay').innerText = '파일 업로드 성공: ' + JSON.stringify(data);
            })
            .catch((error) => {
                console.error('Error:', error);
                document.getElementById('messageDisplay').innerText = '파일 업로드 실패: ' + error;
            });
    }

    // 전송 버튼 클릭 시 메시지 전송
    document.querySelector('#send').onclick = function () {
        sendMessage(); // 이미지 없이 메시지만 전송
    };

    // Enter 키를 눌렀을 때 메시지 전송
    document.querySelector('#message').addEventListener('keyup', function (event) {
        if (event.key === 'Enter') {
            sendMessage();
            event.preventDefault(); // 엔터 키의 기본 동작을 방지합니다.
        }
    });
</script>
</body>
</html>